<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-open-android-focus" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-android-focus</name>
    <js-module name="AndroidFocus" src="www/AndroidFocus.js">
        <clobbers target="AndroidFocus" />
    </js-module>
        <engines>
        <engine name="cordova" version=">=3.6.0"></engine>
    </engines>
    <platform name="android">
        <source-file src="src/android/com/edibu/plugins/AndroidFocus.java"
                     target-dir="src/com/edibu/plugins"></source-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidFocus">
                <param name="android-package" value="com.edibu.plugins.AndroidFocus" />
            </feature>
        </config-file>
    </platform>
</plugin>
